.section.section--2
	.section__categories
		a.section__category(href="#")
			| Baby Doll
		a.section__category(href="#")
			| Rock`n`Roll
		a.section__category(href="#")
			| Glamour
	.section__content
		.section__col-1
			.section__slider
				.section__slide(style=`background-image: url(${require("./slide.png")});`)
				.section__slide(style=`background-image: url(${require("./slide2.png")});`)
				.section__slide(style=`background-image: url(${require("./slide3.png")});`)
				.section__slide(style=`background-image: url(${require("./slide4.png")});`)
			.section__preview.section__preview--1
				.section__preview__image.section__preview__image--1(style=`background-image: url(${require("./preview1.jpg")});`)
			.section__preview.section__preview--2
				.section__preview__image.section__preview__image--2(style=`background-image: url(${require("./preview2.jpg")});`)
			.section__preview.section__preview--3
				.section__preview__image.section__preview__image--3(style=`background-image: url(${require("./preview3.jpg")});`)
			.section__preview.section__preview--4
				.section__preview__image.section__preview__image--4(style=`background-image: url(${require("./preview4.jpg")});`)
		.section__col-2
			.section__text
				.section__text__title
					| Baby Doll
				.section__text__description
					| Dior ushers in a new era in lip makeup with the breakthrough creation of a lipstick that
					| boasts a hydra-gel core with a top coat effect for sensational mirror shine.#[br]
					| Application after application, it works like a top coat, adding an extra dose of shine and lasting colour
					| with unbelievable comfort.